body{
    text-align: center;
}

.aviso{
    font-size: 3rem;
    color: #fff;
}

.fala{
    font-size: 3.5rem;
    background-color:rgb(0, 0, 0);
    border: 1px solid #fff;
}

.dias{
    font-size: 3rem;

}

.dias img{
    width: 90%;
}

@media (min-width: 500px){
    
    .fala{
        font-size: 2rem;
    }
}